@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:300,400,500,700');
html,
body {
  height: 100%;
  width: 100%;
}
#ng-app {
  height: 100%;
  width: 100%;
  color: #666;
}
.ticketing {
  height: 2000px;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #B5BECB;
  /* do not group these rules*/
  background-color: #EBEEF2;
}
.ticketing ::-webkit-input-placeholder {
  color: #cdcdcd;
  font-size: 20px;
}
.ticketing :-moz-placeholder {
  color: #cdcdcd;
  font-size: 20px;
}
.ticketing ::-moz-placeholder {
  color: #cdcdcd;
  font-size: 20px;
}
.ticketing :-ms-input-placeholder {
  color: #cdcdcd;
  font-size: 20px;
}
.ticketing .glyphicon {
  color: #bbb;
}
.ticketing .toprow {
  height: 2000px;
}
@media (max-width: 959px) {
  .ticketing .toprow {
    height: 0px;
  }
}
.ticketing .toprow .topcol {
  height: 2000px;
  padding: 0px;
  width: 16%;
}
@media (max-width: 959px) {
  .ticketing .toprow .topcol {
    height: 0px;
  }
}
.ticketing .ticketing-frame {
  padding: 30px;
}
.ticketing .ticketing-frame .ticketing-title {
  font-size: 30px;
  font-family: 'Roboto Condensed';
  color: #6D8DB4;
  font-weight: 400;
  margin-left: 40px;
}
.ticketing .ticketing-frame .ticketing-title #slim {
  font-weight: 300;
}
.ticketing .ticketing-frame .ticketingform {
  background-color: white;
  padding: 60px 30px;
  margin-top: 30px;
}
.ticketing .searchticket {
  font-size: 20px;
  width: 60%;
  float: left;
}
.ticketing .searchticket input {
  padding: 22px 30px;
}
.ticketing .searchticket button {
  padding: 13px 13px;
}
.ticketing .btn-newticket {
  border-radius: 0px;
  background-color: #0D8A71;
  color: white;
  margin-left: 20px;
}
.ticketing a.logout {
  display: block;
  color: #B5BECB;
}
@media (max-width: 959px) {
  .ticketing {
    margin-top: 40px;
  }
}
@media (min-width: 960px) {
  menu {
    display: none;
  }
}
@media (max-width: 959px) {
  sidemenu {
    display: none;
  }
}
.newticket input {
  padding: 20px 30px;
}
.newticket .searchticketform {
  float: none;
  width: 90%;
}
.newticket .searchticketform input {
  padding: 22px 30px;
}
.newticket .searchticketform button {
  font-size: 18px;
  padding: 10px 10px;
}
.newticket .newform-1 {
  background-color: white;
  padding: 60px 30px;
  margin-top: 30px;
}
.newticket .newform-2 {
  background-color: #F5F8FB;
  padding: 60px 30px;
}
.newticket .btn.save-ticket {
  background-color: #0D8A71;
  color: white;
  font-family: 'Roboto Condensed';
  border-radius: 0px;
  margin-top: 30px;
}
.summary .summaryform {
  background-color: white;
  padding: 60px 30px;
  margin-top: 30px;
}
.summary .ticketingform.nopad {
  padding: 00px 00px;
}
.summary .padded {
  padding-top: 60px;
  padding-left: 30px;
}
.summary .formtitle {
  font-size: 45px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  color: #888;
  padding-bottom: 30px;
}
.summary .summaryitem {
  display: block;
  text-align: center;
  font-size: 45px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  color: #B5BECB;
}
.summary .summarylabel {
  text-align: center;
}
.summary .action {
  margin-left: 0px;
  margin-right: 0px;
}
.summary .action div {
  padding: 15px 30px;
}
.summary .action .actionitem {
  font-size: 22px;
}
.summary .odd {
  background-color: #C4EAE9;
  color: #1EADA8;
}
.summary .even {
  color: #B5BECB;
}
.ticketing.ticketreports .headRow {
  color: #8395B1;
  font-weight: bold;
}
.ticketing.ticketreports .reportitem {
  color: #B5BECB;
}
.ticketing.ticketreports .dropdown-toggle {
  background-color: white;
  color: #888;
  border-radius: 0px;
  width: 75%;
}
.ticketing.ticketreports .dropdown-toggle ul li {
  padding: 5px;
}
.ticketdetails .detailform-1 {
  background-color: white;
  padding: 60px 30px;
  margin-top: 30px;
}
.ticketdetails .detailform-2 {
  background-color: #F5F8FB;
  padding: 60px 30px;
  margin-top: 30px;
}
.ticketdetails .detailitem {
  display: block;
  text-align: left;
  font-size: 28px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  color: #B5BECB;
}
.ticketdetails .detailtext {
  display: block;
  text-align: left;
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #B5BECB;
}
.ticketdetails .detaillabel {
  text-align: left;
}
.ticketdetails .noteform {
  background-color: #F5F8FB;
  padding: 60px 30px;
  margin-top: 30px;
}
.ticketdetails #notelabel {
  font-size: 30px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  color: #B5BECB;
  display: block;
}
.ticketdetails .notefield {
  margin-top: 10px;
  background-color: #D8DEE5;
  padding: 20px 30px;
}
.navbar-default {
  background-color: #6D8DB4;
  border-color: #5E7FA6;
}
.navbar-brand img {
  line-height: 100%;
  height: 25px;
  display: block;
  margin: 0;
  float: left;
}
.navbar-default .btn-link {
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: none;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #6D8DB4;
}
.navbar-default .navbar-nav > .active {
  color: #fff;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active:hover,
.navbar-default .navbar-nav > .active:focus {
  color: #fff;
  background-color: #6D8DB4;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6D8DB4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}
sidemenu {
  height: 100%;
  width: 100%;
}
sidemenu .sidemenu {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d4b6d+0,0d8a71+100 */
  background: #2d4b6d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2d4b6d 0%, #0d8a71 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2d4b6d 0%, #0d8a71 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2d4b6d 0%, #0d8a71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d4b6d', endColorstr='#0d8a71', GradientType=0);
  /* IE6-9 */
}
sidemenu .sidemenu .menuframe {
  height: 100%;
}
sidemenu .sidemenu .menuframe img {
  display: block;
  margin: auto;
  width: 150px;
  margin-bottom: 20px;
}
sidemenu .sidemenu .menuframe a {
  color: #A9BAC3;
  display: block;
  text-align: center;
  padding: 20px 60px;
}
sidemenu .sidemenu .menuframe a:hover,
sidemenu .sidemenu .menuframe a:focus {
  color: white;
  text-decoration: underline;
  background: #A9BAC3;
}
.login {
  color: #6D8DB4;
  background-image: url('/content/img/Login-BG.jpg');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  /* optional, center the image */
  width: 100%;
  min-height: 1000px;
}
.login img {
  height: 80px;
}
.login label {
  font-weight: normal;
  margin-top: 20px;
}
.login button {
  border-radius: 0;
  background-color: #6D8DB4;
  color: #fff;
  margin-top: 40px;
  padding: 20px 60px;
  font-family: 'Roboto Condensed';
  font-size: 24px;
}
.login input {
  font-size: 20px;
  padding: 20px;
}
.login #logo {
  margin-bottom: 30px;
  display: block;
}
.login .form-signin {
  max-width: 400px;
  padding-top: 200px;
}
.error.well {
  margin-top: 100px;
}
