<div class="ticketing ticketreports">
    <menu></menu>
    <div class="row row-offcanvas row-offcanvas-left toprow">
        <div class="col-xs-0 col-md-2 sidebar-offcanvas topcol">  
            <sidemenu></sidemenu>
        </div>
        <div class="col-xs-12 col-md-10">
            <div class="ticketing-frame">
                <div class="row">
                    <div class="col-md-4">
                        <span class="ticketing-title">Tickets - <span id="slim">REPORTS</span></span>
                    </div>
                    <div class="col-md-2">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="start" is-open="start.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  ng-change="updateDate()"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="end" is-open="end.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="updateEnd()"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <multiselect 
                            class="input-xlarge multiselect" 
                            ng-model="vm.option1" 
                            options="p.key as p.value for p in vm.options1" select-limit="5"
                            header="Select Stuff1" 
                            selected-header="options selected" 
                            multiple="true" 
                            required enable-filter="false" 
                            filter-placeholder="Filter stuff..">
                        </multiselect>
                        
                    </div>
                    <div class="col-md-2">
                        <a class="logout" href="" ng-click="logout()">Logout</a>
                        <span>First Last</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="ticketingform">
                            <table class="table table-hover">
                                <tr class = "headRow" >
                                    <td style="width:14.3%">
                                        Ticket ID
                                    </td>
                                    <td style="width:14.3%">
                                        Customer ID
                                    </td>
                                    <td style="width:14.3%">
                                        Caller Name
                                    </td>
                                    <td style="width:14.3%">
                                        Rep Name
                                    </td>
                                    <td style="width:14.3%">
                                        Date Opened
                                    </td>
                                    <td style="width:14.3%">
                                        Date Resolved
                                    </td>
                                    <td style="width:14.3%">
                                        Status
                                    </td>
                                </tr>
                                <tr class="reportitem" ng-repeat="ticket in tickets.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td ><a href="" ng-click='detail(ticket.id)'>{{ticket.id}}</a></td>
                                    <td>{{ticket.customer}}</td>
                                    <td>{{ticket.contact_name}}</td>
                                    <td>{{ticket.rep}}</td>
                                    <td>{{ticket.opened_date }}</td>
                                    <td>{{ticket.resolved_date }}</td>
                                    <td>{{ticket.status}}</td>
                                </tr>   
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="8" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>