.newticket{

    .newform-1{
        background-color:white;
        padding:60px 30px;
        margin-top:30px
    }
    .newform-2{
        background-color:#F5F8FB;
        padding:60px 30px;
    }
    .btn.save-ticket{
        background-color:#0D8A71;
        color:white;
        font-family:'Roboto Condensed';
        border-radius:0px;
        margin-top:30px;
    }
}