.summary{

    .summaryform{
        background-color:white;
        padding:60px 30px;
        margin-top:30px
    }
    .ticketingform.nopad{
        padding: 00px 00px;
    }
    .padded{
        padding-top: 60px;
        padding-left: 30px;
    }
    .formtitle{
        font-size:45px;
        font-family:'Roboto Condensed';
        font-weight:300;            
        color:#888;
        padding-bottom:30px;
    }
    .summaryitem{
        display: block;
        text-align:center;
        font-size:45px;
        font-family:'Roboto Condensed';
        font-weight:300;            
        color:#B5BECB;
    }
    .summarylabel{
        text-align:center;
    }
    .action{
        margin-left:0px;
        margin-right:0px;
        div {
            padding: 15px 30px;
        }
        .actionitem{
            font-size:22px;
        }
    }
    .odd {
        background-color:#F3F7FB;
        color:#818790;  
        }
    .even {
        background-color: #ffffff;
        color:#818790;
    }
    .odd:hover, .even:hover{
        background-color:#BCE7E6;
        color:#14A39E;
    }

}