@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:300,400,500,700');
.ticketing{
    height:2000px;
    width:100%;
    font-family:'Open Sans';
    font-size:16px;
    color: #B5BECB;
    /* do not group these rules*/
    ::-webkit-input-placeholder { color: #cdcdcd; font-size:20px;}
    :-moz-placeholder           { color: #cdcdcd; font-size:20px;}
    ::-moz-placeholder          { color: #cdcdcd; font-size:20px;}
    :-ms-input-placeholder      { color: #cdcdcd; font-size:20px;}
    .glyphicon                  { color: #bbb;}
    .toprow{
        height: 2000px;
        .topcol{
            height:2000px;
            padding:0px;
            width: 16%;
            @media (max-width: 959px) {
              height: 0px;
            }
        }
    }
    .ticketing-frame{
        padding:30px;
        .ticketing-title{
            font-size:30px;
            font-family:'Roboto Condensed';
            color:#6D8DB4;
            font-weight:400;
            margin-left: 40px;
            #slim{
                font-weight:300;
            }
        }
        .ticketingform{
            background-color:white;
            padding:60px 30px;
            margin-top:30px
        }
    }
    .searchticket{
        font-size:20px;
        width:60%;
        float: left;
        input{
            padding:22px 30px;
        }
        button{
            padding:13px 13px;
        }
    }
    .btn-newticket{
        border-radius:0px;
        background-color: #0D8A71;
        color:white;
        margin-left:20px;
    }
    a.logout{
        display: block;
        color:#B5BECB;
    }
    background-color:#EBEEF2;
    @media (max-width:959px){
        margin-top:40px;
    }
}

menu{
    @media (min-width:960px){
        display:none;
    }
}
sidemenu{
    @media (max-width:959px){
        display:none
    }
}
