.ticketdetails{


    .detailform-1{
        background-color:white;
        padding:60px 30px;
        margin-top:30px
    }
    .detailform-2{
        background-color:#F5F8FB;
        padding:60px 30px;
        margin-top:30px
    }
    .detailitem{
        display: block;
        text-align:left;
        font-size:28px;
        font-family:'Roboto Condensed';
        font-weight:300;            
        color:#B5BECB;
    }
    .detailtext{
        display: block;
        text-align:left;
        font-size:25px;
        font-family:'Open Sans';
        font-weight:300;            
        color:#B5BECB;
    }
    .detaillabel{
        text-align:left;
    }
    .noteform{
        background-color:#F5F8FB;
        padding:60px 30px;
        margin-top:30px
    }
    #notelabel{
        font-size:30px;
        font-family:'Roboto Condensed';
        font-weight:300;            
        color:#B5BECB;

        display:block;
    }
    .notefield{
        margin-top:10px;
        background-color:#D8DEE5;
        padding: 20px 30px;
    }

}